<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287786745128-3onl7nbh6cf3sbohiq0igfhb8d12to78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287786745128-3onl7nbh6cf3sbohiq0igfhb8d12to78</string>
	<key>API_KEY</key>
	<string>AIzaSyB9lL8H4yFW7AUwS3Dp9KRXp_lTNVyXtoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>287786745128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps.Agenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-notification-17035</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-notification-17035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287786745128:ios:53f7b87c6e60059f6de41d</string>
</dict>
</plist>